body {
  background-color:#154D53;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family:arial
}
ul.packages {
 padding-top: 15px;
}
.contact-form label {
  display: block;
  float: none;
  font-weight: bold;
  margin-bottom: 3px;
}

h2.head {
  font-family:georgia,arial; font-size:200%;
}

a, a:link, a:visited {
  color:#154D53 !important;
}

#site-title a img {
  max-height: 20em; 
}


#content p, #content h1, #content h2, #content h3 {
  color:#154D53; 
}

.package .api div, div.resources td {
  background:#F1FAF0;
}

.DDDmenu {
  background:#C1E1CD;
}

h3#factsheader {
  background-color: #444;
  color: white;
  font-size: 1.4em;
  padding: 5px;
  margin-bottom: 0;
  margin-top: 20px;
}

div.resources h4 {
  background:#073236;
}

#primary .widget-container {
  background:#F1FAF0;
  border: 1px solid #073236;
}

#access {
  border-top:2px solid #073236; 
  border-bottom:2px solid #073236;
}

div.menu ul li {
  border: 0; font-size:125%; font-weight:normal
}

div.menu ul li a:hover {
  background:#F1FAF0 !important;
}

div.menu ul li a.active, 
div.menu ul li.current_page_active, 
div.menu ul li.current_page_ancestor {
  font-weight:bold;
  background:#F1FAF0;
  border-left:1px dotted #073236;
  border-right:1px dotted #073236
}

div.textwidget ul li {
   display:inline
}

#welcome-pane {
 height: 250px;
}

div.menu ul li a.active {
  font-weight:bold;
  background:#F1FAF0;
  border-left:1px dotted #073236;
  border-right:1px dotted #073236
}
body.home div#content {
 margin-right:20px;
}

div.pane {
 margin-bottom: 10px;
 margin-top: 10px;
 border: 1px solid #073236;
}
div.content-row {
 margin: 0 auto;
 width: 880px;
 clear: both;
}
div.content-row div.span-1 {
 width: 420px;
 float: left;
 margin-right: 10px;
}
div.content-row div.span-2 {
 width: 855px;
 float: left;
}

div.last {
 margin-right: 0;
}

div.content-pad {
 padding: 5px;
}

#content div.content-row div.pane h4 {
 padding: 5px;
 margin: 0;
 font-size: 1.2em;
 background-color: #444;
 color: white;
}


/*
 * jQuery Nivo Slider v2.4
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:89;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:99;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

#top-bar .search-form input.search {
  width: 16em;
  font-size: 1.8em;
}

h1#site-title {
 position: absolute;
}
div#top-bar {
 height: 130px;
}

#top-bar .search-form input.searchbutton {
  font-size: 1.8em;
}

div#footer-widget-area ul li div.textwidget ul li {
 font-size: 1.3em;
}

body{background-color:#154D53}

body, h1, h2, h3, h4, h5, h6 {font-family:arial}

h2.head {font-family:georgia,arial; font-size:200%;}

a, a:link, a:visited {color:#154D53 !important;}

.package .api div, div.resources td {background:#F1FAF0;}

.DDDmenu {background:#C1E1CD;}

div.resources h4 {background:#073236;}

#primary .widget-container {background:#F1FAF0;border: 1px solid #073236;}

#access {border-top:2px solid #073236; border-bottom:2px solid #073236}

div.menu ul li {font-size:125%; font-weight:normal;border:0}
div.menu ul li a:hover {background:#F1FAF0 !important;}
div.menu ul li a.active {font-weight:bold;background:#F1FAF0;border-left:1px dotted #073236;
border-right:1px dotted #073236}

div.textwidget ul,
div.textwidget ul li,
div.textwidget ul li a,
 {display:inline ! important}
