body {
  background-color:#154D53;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family:arial
}

h2.head {
  font-family:georgia,arial; font-size:200%;
}

a, a:link, a:visited {
  color:#154D53 !important;
}

.package .api div, div.resources td {
  background:#F1FAF0;
}

.DDDmenu {
  background:#C1E1CD;
}

h3#factsheader {
  background-color: #444;
  color: white;
  padding: 10px;
}

div.resources h4 {
  background:#073236;
}

#primary .widget-container {
  background:#F1FAF0;
  border: 1px solid #073236;
}

#access {
  border-top:2px solid #073236; 
  border-bottom:2px solid #073236;
}

div.menu ul li {
  border:2px solid #073236; font-size:125%; font-weight:normal
}

div.menu ul li a:hover {
  background:#F1FAF0 !important;
}

div.menu ul li a.active, 
div.menu ul li.current_page_active, 
div.menu ul li.current_page_ancestor {
  font-weight:bold;
  background:#F1FAF0;
  border-left:1px dotted #073236;
  border-right:1px dotted #073236
}

div.menu ul li a.active {
  font-weight:bold;
  background:#F1FAF0;
  border-left:1px dotted #073236;
  border-right:1px dotted #073236
}
body.home div#content {
 margin-right:20px;
}

div.pane {
 margin-bottom: 20px;
 border: 1px solid #073236;
}
div.content-row {
 clear: both;
}
div.content-row div.col1 {
 width: 420px;
 float: left;
}
div.content-row  div.col2 {
 width: 400px;
 position: absolute;
 margin-left: 450px;
 float: right;
}

div.content-pad {
 padding: 5px;
}

/*
 * jQuery Nivo Slider v2.4
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:89;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:99;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

#top-bar .search-form input.search {
  width: 16em;
  font-size: 1.8em;
}

#top-bar .search-form input.searchbutton {
  font-size: 1.8em;
}

div#footer-widget-area ul li div.textwidget ul li {
 font-size: 1.3em;
}