<div id="slider">
  <a href="http://www.police.uk/overview/?q=Manchester,%20Greater%20Manchester,%20UK">
    <img src="/img/1-PoliceUK.jpg" 
       title="Police UK" />
  </a>
  <a href="http://traffordopendata.heroku.com/trees">
    <img src="/img/2-TraffordTrees.jpg" 
       title="Trees in Trafford" />
  </a>
  <a href="http://whatis.spotlightonspend.org.uk/whos_wanted.aspx">
    <img src="/img/3-Spotlightonspend.jpg" 
       title="Spotlight on Spend" />
  </a>
  <a href="http://www.cmft.nhs.uk/trust/what-we-spend-and-how-we-spend-it.aspx">
    <img src="/img/4-NHS.jpg"
         title="NHS" />
  </a>
  <a href="http://openlylocal.com/councils/open?region=North+West">
    <img src="/img/5-OpenlyLocal.jpg"
         title="Openly Local" />
  </a>
  <a href="http://www.manchester.gov.uk/opendata">
    <img src="/img/6-MCC.jpg"
         title="Manchester City Council" />
  </a>
  <a href="http://www.salford.gov.uk/opendata.htm">
    <img src="/img/7-Salford.jpg"
         title="Salford City Council" />
  </a>
  <a href="http://www.gmpte.com/">
    <img src="/img/8-TfGM.jpg"
         title="Transport for Greater Manchester" />
  </a>
  <a href="http://www.tameside.gov.uk/transparency">
    <img src="/img/9-Tameside.jpg"
         title="Tameside Metropolitan Borough Council" />
  </a>
  <a href="http://www.oldham.gov.uk/spendingrecords">
    <img src="/img/10-Oldham.jpg"
         title="Oldham Metropolitan Borough Council" />
  </a>
  <a href="http://www.rochdale.gov.uk/business/tenders_and_contracts/council_spending_over_%C2%A3500.aspx">
    <img src="/img/11-Rochdale.jpg"
         title="Rochdale Metropolitan Borough Council" />
  </a>
  <a href="http://www.bury.gov.uk/CouncilGovernmentAndDemocracy/Councils/CouncilTaxAndFinance/PaymentsToSuppliers.htm">
    <img src="/img/12-Bury.jpg"
         title="Bury Metropolitan Borough Council" />
  </a>
  <a href="http://www.stockport.gov.uk/services/councildemocracy/yourcouncil/documentsandfacts/budgetsfinancialmonitoringreports/expenditureover500">
    <img src="/img/13-Stockport.jpg"
         title="Stockport Metropolitan Borough Council" />
  </a>
  <a href="http://www.wigan.gov.uk/Services/CouncilDemocracy/PerformanceInformation/OpenData.htm">
    <img src="/img/14-Wigan.jpg"
         title="Wigan Metropolitan Borough Council" />
  </a>
  <a href="http://www.bolton.gov.uk/website/pages/Councilprocurementexpenditure.aspx?bid=4264">
    <img src="/img/15-Bolton.jpg"
         title="Bolton Council" />
  </a>
</div>
