<div id="slider">
  <a href="http://www.google.com">
    <img src="/img/1-PoliceUK.jpg" 
       title="Police UK" />
  </a>
  <a href="http://www.google.com">
    <img src="/img/2-TraffordTrees.jpg" 
       title="Trees in Trafford" />
  </a>
  <a href="http://www.google.com">
    <img src="/img/3-Spotlightonspend.jpg" 
       title="Spotlight on Spend" />
  </a>
  <a href="http://www.bing.com">
    <img src="/img/4-NHS.jpg"
         title="NHS" />
  </a>
  <a href="http://www.bing.com">
    <img src="/img/5-OpenlyLocal.jpg"
         title="Openly Local" />
  </a>
  <a href="http://www.bing.com">
    <img src="/img/6-MCC.jpg"
         title="MCC" />
  </a>
</div>
