<div id="slider">
  <a href="http://www.google.com">
    <img src="/img/1-PoliceUK.jpg" 
       title="Police UK" />
  </a>
  <a href="http://www.google.com">
    <img src="/img/2-TraffordTrees.jpg" 
       title="Trees in Trafford" />
  </a>
  <a href="http://www.google.com">
    <img src="/img/3-Spotlightonspend.jpg" 
       title="Spotlight on Spend" />
  </a>
  <a href="http://www.bing.com">
    <img src="/img/4-NHS.jpg"
         title="NHS" />
  </a>
  <a href="http://www.bing.com">
    <img src="/img/5-OpenlyLocal.jpg"
         title="Openly Local" />
  </a>
  <a href="http://www.bing.com">
    <img src="/img/6-MCC.jpg"
         title="Manchester City Council" />
  </a>
  <a href="http://www.bing.com">
    <img src="/img/7-Salford.jpg"
         title="Salford City Council" />
  </a>
  <a href="http://www.bing.com">
    <img src="/img/8-GMPTE.jpg"
         title="Greater Manchester Passenger Transport Executive" />
  </a>
  <a href="http://www.bing.com">
    <img src="/img/9-Tameside.jpg"
         title="Tameside Metropolitan Borough Council" />
  </a>
  <a href="http://www.bing.com">
    <img src="/img/10-Oldham.jpg"
         title="Oldham Metropolitan Borough Council" />
  </a>
  <a href="http://www.bing.com">
    <img src="/img/11-Rochdale.jpg"
         title="Rochdale Metropolitan Borough Council" />
  </a>
  <a href="http://www.bing.com">
    <img src="/img/12-Bury.jpg"
         title="Bury Metropolitan Borough Council" />
  </a>
  <a href="http://www.bing.com">
    <img src="/img/13-Stockport.jpg"
         title="Stockport Metropolitan Borough Council" />
  </a>
  <a href="http://www.bing.com">
    <img src="/img/14-Wigan.jpg"
         title="Wigan Metropolitan Borough Council" />
  </a>
</div>
