{% ckan_extends %}

{% block home_image %}
  <section class="featured media-overlay">
    <h2 class="media-heading">{% block home_image_caption %}{{ _("Trees in Trafford") }}{% endblock %}</h2>
    {% block home_image_content %}
      <a class="media-image" href="#">
        <img src="/2-TraffordTrees_cropped.jpg" alt="Trafford Trees" width="420" height="220" />
      </a>
    {% endblock %}
  </section>
{% endblock %}

{% block secondary_content %}
  <div class="row group-listing p-bottom">
    {% snippet 'snippets/dataset_box.html', title='Popular datasets', icon='fire', datasets=h.popular_datasets() %}
    {% snippet 'snippets/dataset_box.html', title='Latest datasets', icon='time', datasets=h.latest_datasets() %}
  </div>
  <div class="box m-top">
    <section class="group-list module module-narrow module-shallow">
      <header class="module-heading media">
        <h3 class="media-heading">
          <i class="icon-building"></i>
          <a href="/organization">Browse by publisher</a>
        </h3>
      </header>
      <div class="module-content">
        <ul class="media-grid">
          {% for org_name in h.organization_list() %}
            {% set first = loop.index0 % 4 == 0 %}
            {% set last  = loop.index0 % 4 == 3 %}
            {% set org_dict = h.organization_show(org_name) %}
            {% snippet "organization/snippets/organization_item.html", organization=org_dict, first=first, last=last %}
          {% endfor %}
        </ul>
      </div>
    </section>
  </div>
{% endblock %}
